#titulo{
    font-size: 30px;
    border: solid gray;
    border-radius: 5px;
    margin-top: 4%;
    text-align: center;
    color: white;
}

#sep{
    border-radius: 5px;
    text-align: center;
    width: 450px;
    height: fit-content;
    background-image: url(../img/sasuke.jpg);
    background-size: cover;
    color: white;
}

body{
    background-image: linear-gradient(purple, blue, red);
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size: cover;
}

#nome{
    background-color: indianred;
    color: white;
}

#idade{
    background-color: indianred;
    color: white;
}

#genero{
    background-color: indianred;
    color: white;
}